{:deps {org.clojure/clojure {:mvn/version "1.12.0"}
        org.clojure/data.json {:mvn/version "2.5.2"}}
 :aliases {:run {:main-opts ["-m" "bot.core"]}
           :build {:deps {io.github.clojure/tools.build {:git/tag "v0.10.13" :git/sha "ae52edf"}}
                   :ns-default build}}}
